<div class="container-fluid" style="margin-top:50px;color:#a7a7a7">
	<h3 style="text-align:center"><b>Mosca MQTT over websocket</b></h3>
	<h4 style="text-align:center">Fetching published value from Mosca MQTT server</h4>
	<div class="row">
		<div class="gauge" style="margin-top:150px">
			<ul class="meter">
				<li class="low"></li>
				<li class="normal"></li>
				<li class="high"></li>
			</ul>
			<div class="dial">
				<div class="inner">
					<div class="arrow">
					</div>
				</div>
			</div>
			<div class="value">
				{{sensorValue}} %
			</div>
		</div>
	</div>
</div>